#-- The 'game' directory is the default working directory for Minecraft PE if running from VS directly.

# Ignore original Minecraft PE assets.
/gui/buynow.png
/gui/gui_blocks.png
/gui/itemframe.png
/gui/menubuttons.png
/gui/plusknapp.png
/gui/raknet.png
/gui/title.png
/gui/title_xbox360.png
/gui/touchgui.png
/gui/controls/dpad.png
/gui/controls/dpad_jump.png
/gui/controls/dpadbutton.png
/gui/selectworld/add.png
/gui/startmenu/sm_multi.png
/gui/startmenu/sm_options.png
/gui/startmenu/sm_play.png
/misc/foliagecolor.png
/misc/grasscolor.png
/mob/pigzombie.png
/gui/buynow.png
/gui/controls/dpad.png
/gui/controls/dpadbutton.png
/gui/controls/dpad_jump.png
/gui/itemframe.png
/gui/menubuttons.png
/gui/plusknapp.png
/gui/selectworld/add.png
/gui/startmenu/sm_play.png
/gui/startmenu/sm_multi.png
/gui/startmenu/sm_options.png
/gui/touchgui.png
/snow.png
# Ignore all native iOS UI assets.
/app/ios/
# 0.7.0
/armor/chain_1.png
/armor/chain_2.png
/armor/cloth_1.png
/armor/cloth_2.png
/armor/diamond_1.png
/armor/diamond_2.png
/armor/gold_1.png
/armor/gold_2.png
/armor/iron_1.png
/armor/iron_2.png
/art/kz.png
/gui/bg32.png
/gui/spritesheet.png
/gui/titleBG.png
/gui/touchgui2.png
/item/arrows.png
/item/sign.png
# Sound
/sound
/newsound
/sound3
/music
/newmusic
# Java
/misc/vignette.png
/misc/shadow.png
/misc/water.png
/environment/rain.png
/environment/snow.png
/item/boat.png
/item/cart.png
/item/door.png
/mob/ghast.png
/mob/ghast_fire.png
/mob/pigman.png
/mob/saddle.png
/mob/slime.png
/mob/spider_eyes.png
/mob/squid.png
/title/mclogo.png
/gui/inventory.png
/gui/container.png
/gui/crafting.png
/gui/furnace.png
/gui/trap.png
/gui/unknown_pack.png
# /lang/en_US.lang
# /lang/stats_US.lang

# Ignore the panorama textures. Adding them yourself will make the title screen use them.
/gui/background/panorama_0.png
/gui/background/panorama_1.png
/gui/background/panorama_2.png
/gui/background/panorama_3.png
/gui/background/panorama_4.png
/gui/background/panorama_5.png

# Avoid including Minecraft Classic assets from Mojang, for now.
/patches/*.png
/patches/classic/*.png
!/patches/n_rocket_launcher.png
!/patches/n_rocket_launched.png
!/patches/n_rocket.png
!/patches/p_rose.png
!/patches/p_camera.png
!/patches/p_crying_obsidian.png
