[submodule "thirdparty/coi-serviceworker"]
	path = thirdparty/coi-serviceworker
	url = https://github.com/gzuidhof/coi-serviceworker
[submodule "thirdparty/gles-compatibility-layer"]
	path = thirdparty/gles-compatibility-layer
	url = https://github.com/TheBrokenRail/gles-compatibility-layer.git
