[submodule "thirdparty/coi-serviceworker"]
	path = thirdparty/coi-serviceworker
	url = https://github.com/gzuidhof/coi-serviceworker.git
[submodule "thirdparty/SDL-src"]
	path = thirdparty/SDL2/src
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/stb_image/include"]
	path = thirdparty/stb_image/include
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/OpenAL"]
	path = thirdparty/OpenAL
	url = https://github.com/kcat/openal-soft.git
