[submodule "thirdparty/coi-serviceworker"]
	path = thirdparty/coi-serviceworker
	url = https://github.com/gzuidhof/coi-serviceworker
[submodule "thirdparty/gles-compatibility-layer"]
	path = thirdparty/gles-compatibility-layer
	url = https://gitea.thebrokenrail.com/minecraft-pi-reborn/gles-compatibility-layer.git
